---
import { getRelativeLocaleUrl } from "astro:i18n";
import Base from "../layouts/Base.astro";
import { getCurrentLocale, getHomePath, getPublicText } from "../lib/i18n";

const locale = getCurrentLocale(Astro.currentLocale);
const publicText = getPublicText(locale);
const homeUrl = getRelativeLocaleUrl(locale, getHomePath());
---

<Base title={publicText.notFoundTitle}>
  <main>
    <section class="not-found">
      <h1>{publicText.notFoundTitle}</h1>
      <p>{publicText.notFoundMessage}</p>
      <p><a href={homeUrl}>{publicText.notFoundHomeLink}</a></p>
    </section>
  </main>
</Base>
